@import url(https://fonts.googleapis.com/css?family=Oswald);

/*--------------
	MAIN
--------------*/
body { 
	/*background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right top;*/
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 8px;
}

#logo{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10%;
  	margin-bottom: auto;
  	text-align: center;

}

#wrapper {
  display: block;
  max-width: 1100px;
  margin: 0 auto;
}

/*--------------------
|Menu Bar
---------------------*/

header {
	background-color: #120C31;
	width: 100%;
	text-align: left;
  height: 10%;
  top: 0px;
  height: 8%;
  /*border-bottom: #E5575B solid 7px;*/
  padding: 10px;

}

#logowithoutname {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: auto;
  	margin-bottom: auto;
  	text-align: center;
}

/*--------------------
| Nav
---------------------*/
#menu-icon {

  display: hidden;
  width: 40px;
  height: 40px;
  background: #A98216 url(../_img/menu-icon.png) center;
  margin-top: 0px;
  margin-left: 0px;
  float: left;

}

a {
  color: #E5575B;
  text-decoration: none;
  text-align: center;

}

#links ul {

  list-style: none;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  color: #C8585B;

}

nav {
   width: 20%;
   height: 10%;
   margin-right: auto;
   margin-left: auto;
}

#menu-icon {

  display: hidden;
  width: 40px;
  height: 40px;
  background: #E5575B url(../img/menu-icon.png) center;
  margin-top: 0px;
  margin-left: 0px;
}

/*---------------------
|Lightbox
----------------------*/

ol, ul { list-style: none; }


table { 
	border-collapse: collapse; 
	border-spacing: 0;
}

img { 
	border: 0; 
	max-width: 100%;
}

#wrapper {
  display: block;
  max-width: 1100px;
  margin: 0 auto;
}

#portfolio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}

#portfolio li {
  display: block;
  float: left;
  width: 30%;
  max-width: 200px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 0px;
}

#portfolio li img {
	width: 80%;
	height: 80%;
	border: 4px solid #fff;
	border-radius: 5px;
	-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
}

.clearfix {
  margin-left: auto;
  margin-right: auto;
}


/*-----------------------
| MEDIA QUERY for Nav
------------------------*/
@media only screen and (max-width : 2000px) {

header {

  position: absolute;

}

#menu-icon {

  display:inline-block;
}

nav ul, nav:active ul { 

  display: none;
  position: absolute;
  padding: 10px;
  background: #fff;
  border: 4px solid #E5575B;
  right: 20px;
  top: 60px;
  width: 50%;
  border-radius: 7px 7px 7px 7px;
  text-decoration: none;
}

nav li {

  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

nav:hover ul {
  display: block;
  text-decoration: none;
}

