@import url(https://fonts.googleapis.com/css?family=Oswald);

/*--------------
	MAIN
--------------*/
body { 
	margin-left: auto;
  margin-right: auto;
}

#logo{
	 display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10%;
  	margin-bottom: auto;
  	text-align: center;

}

/*--------------------
|Menu Bar
---------------------*/

header {
	background-color: #120C31;
	width: 100%;
	text-align: left;
  height: 10%;
  top: 0px;
  height: 8%;
  padding: 10px;

}

/*--------------------
| Nav
---------------------*/
a {
  color: #E5575B;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: #EE8587;
  /*text-decoration: underline;*/
  font-style: italic;
}

#links ul {

  list-style: none;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  color: #C8585B;
  line-height: 50px;
   /*border: black solid 5px;*/

}

nav {
   width: 150px;
   height: 90px;
   margin-left: auto;
   margin-right: auto;
}



