<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.SweZin.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>My Portfolio</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="http://swezinery.com/" email="evyzin@gmail.com">
        Swe Zin Thant
    </author>

    <plugin name="nl.x-services.plugins.socialsharing" spec="4.3.8" source="pgb" />

</widget>